#about {
    padding: 0px 100px;

    .about__collapses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 150px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    #about {
        padding: 15px;

        .about__collapses {
            width: 100%;
            padding: 0;
            gap: 20px;
        }
    }
}


