
#home {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    margin-bottom: 40px;

    .home__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        background-color: #F6F6F6;
        border-radius: 25px;
        padding: 50px;
    }
}