// The 404 error page styles

$main-color : #FF6060;

#notFound {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
    margin-bottom: 150px;

    h1 {
        font-weight: 700;
        font-size: 288px;
        color: $main-color;
    }

    p {
        font-weight: 500;
        font-size: 36px;
        color: $main-color;
    }

    .notFound__link {
        font-weight: 500;
        font-size: 18px;
        text-decoration: underline;
        color: black;
    }
}

@media (max-width: 1024px) {
    #notFound {
        padding: 0px 50px;
        margin: 95px 0px 134px 0px;
    }
}

@media (max-width: 768px) {
    #notFound {
        h1 {
            font-size: 96px;
        }

        p {
            font-size: 18px;
        }

        .notFound__link {
            font-size: 14px;
        }
    }
}